[
  {
    "name": "EonHub Store",
    "icon": "https://eonhubapp.com/assets/img/icon.png",
    "desc": "متجر تطبيقات بلس كامل",
    "plist": "https://eonhubapp.com/install.plist"
  },
  {
    "name": "Scarlet",
    "icon": "https://usescarlet.com/apple-touch-icon.png",
    "desc": "أفضل أداة لتثبيت ملفات IPA",
    "plist": "https://usescarlet.com/install.plist"
  },
  {
    "name": "يوتيوب بلس",
    "icon": "https://upload.wikimedia.org/wikipedia/commons/ef/ef/Youtube_logo.png",
    "desc": "بدون إعلانات - شهادة شغال",
    "plist": "https://raw.githubusercontent.com/swaggyP1/P1-Repo/main/plists/youtube.plist"
  }
]
